PORT = 5000

MONGODB_URI="mongodb://localhost:27017/office_management"

JWT_SECRET="jwt secret code"

# production  or  development
NODE_ENV = 'development'

FRONTEND_URL = http://localhost:5173

# Email Configuration (Gmail SMTP)
EMAIL_USER=yourgmail@gmail.com
EMAIL_PASS=your-app-password
EMAIL_FROM="OIMS Portal Support <yourgmail@gmail.com>"